html, body {
  	margin: 0;
  	padding: 0;}

 body {
 	width:80vw;
 	background-color: #f2f3f0;
 	}

 .photo {background-image:url(Laundry.jpg);
		width: 100vw;
		height: 70vh;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;}
 
 .cover {background-image: url(Budapest.jpg);}

 .window{background-image: url(Window.jpg);}

 .letter {background-image: url(table.jpg)}

 .merci {background-image: url(tunnel.jpg)}

.title {
  font-family: 'Yatra One', cursive;
  position: absolute;
  bottom: 200px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-left: 50px;
}

h1 { font-family: 'Yatra One', cursive;
	color: #394648;
	margin-left:50px;}

.subtitle {font-family: 'Arvo', serif;
			font-size: 20px;}

.byline {font-family: 'Arvo', serif;
		color: gray;
		font-size: 10px;}

h2 { font-family: 'Arvo', serif;
	 font-size: 10px;
	 padding-bottom: 20px;
	 margin-left: 50px;
	color: #394648;}

p {
	font-family: 'Arvo', serif;
	font-size: 15px;
	line-height: 28px;
	width: 300px;
	margin-left: 50px;
	}


.pullquote {
	font-family: 'Yatra One', cursive;
	color: #5b86a3;
	font-size: 35px;
	line-height: 56px;
	padding-left: 50px;
	}

a  {
  	text-decoration:none;
  	font-weight:bold;
  	color: #394648;}


@media (min-width: 1000px;) {
	body {
		width: 1000px;
		margin-left: auto;
		margin-right: auto; }

}

